<h2>Рекорды</h2>

@model Predictions.ViewModels.TopStatsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Самые предсказуемые</b></div>
                <div class="panel-body">
                    @Html.PartialFor(m => m.MostPredicatble, "MatchTable")
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Самые непредсказуемые</b></div>
                <div class="panel-body">
                    @Html.PartialFor(m => m.LeastPredicatble, "MatchTable")
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Самые разнообразные прогнозы</b></div>
                <div class="panel-body">
                    @Html.PartialFor(m => m.MostPredictions, "MatchTable")
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Повторяющиеся прогнозы</b></div>
                <div class="panel-body">
                    @Html.PartialFor(m => m.LeastPredictions, "MatchTable")
                </div>
            </div>
        </div>
    </div>
</div>