@model Predictions.ViewModels.ResultsTableViewModel

@{
    ViewBag.Title = "Index";
}

<h1>Турнирная таблица</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    @using (Ajax.BeginForm("GetResultsTable", new AjaxOptions { UpdateTargetId = "results", InsertionMode = InsertionMode.Replace }))
                    {
                        @Html.AntiForgeryToken()
                            @Html.DropDownListFor(model => model.SelectedTourId, Model.Tourlist, new
                       {
                           @class = "selectpicker pull-right",
                           title = "Выбрать тур",
                           data_style = "btn-primary",
                           data_width = "auto",
                           Name = "tourId"
                       })
                            @*<button class="btn btn-success" type="submit">Показать результаты</button>*@

                    }
                </div>
            </div>
            <div class="panel">
                <div class="panel-body" id="results">
                    @Html.PartialFor(m => m.ResultsTable, "ResultsTable")
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{

    <link href="//cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        $('.selectpicker').on('change', function () {
            $('#form0').submit();
        });
    </script>
}