
@{
    ViewBag.Title = "Statistics";
}

<style>
    h1 {
        color: white !important;
    }
</style>

<div class="jumbotron jumbotron-under-cnstr">
    <div class="container" style="height: 500px;">
        <h1>Раздел в разработке</h1>
        <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Вернуться на главную &raquo;</a></p>

    </div>
</div>
