<style>
    .jumbotron {
        /* add bootstrap jumbotron background image */
        background: url("http://www.rendertribe.com/wp-content/uploads/dark-analytics-guy.jpg");
        /*background: url(content/images/bg-image.jpg);*/
        background-size: cover;
        min-height: 500px;
    }

    h1 {
        color: white !important;
    }
</style>

<div class="jumbotron">
    <h1>Конкурсы прогнозов</h1>
    <p style="color:white">Соревнование диванных аналитиков</p>
    <p><a href="@Url.Action("Index", "Experts")" class="btn btn-primary btn-lg">Текущий рейтинг &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Основной форум</h2>
        <p> Конкурсы рецензий для влюбленных в кино. Артхаус, фильмы не для всех, концепты, флудилка, планки общения, редизайны и т.д.</p>
        <p><a class="btn btn-default" href="http://d-critics.ru/forum/index.php">Основной форум &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Статистика</h2>
        <p>Самые непредсказуемые матчи, самые невезучие эксперты, любители играть по системе, а также другие невероятно интересные факты.</p>
        <p><a class="btn btn-default" href="@Url.Action("MatchStats", "Stats")">Статистика &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Что-то еще</h2>
        <p>Здесь обязательно что-то будет, в этом даже не стоит сомневаться, нужно просто подождать, совсем недолго.</p>
        <p><a class="btn btn-default" href="http://sports.ru">Что-то еще &raquo;</a></p>
    </div>
</div>