@model Predictions.ViewModels.MatchesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Матчи</h2>

<div class="row">
    
    <div class="col-md-2">
        <input type="date" class="form-control" />
    </div>
    
    <div class="col-md-2">
        <select class="form-control">
            @foreach(var item in Model.Teamlist)
            {
                <option title="Домашняя команда">@item.Title</option>
            }
        </select>
    </div>

    <div class="col-md-2">
        <select class="form-control">
            @foreach (var item in Model.Teamlist)
            {
                <option>@item.Title</option>
            }
         </select>
    </div>
        
    <div class="col-md-2">
        <input type="submit" class="btn btn-info" value="Добавить матч">
    </div>

</div>