@model Predictions.ViewModels.MatchesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Матчи</h2>

    <input type="date" class="form-control" />

<select class="form-control">
    @foreach(var item in Model.Teamlist)
    {
        <option title="Домашняя команда">@item.Title</option>
    }
</select>

против

<select class="form-control">
    @foreach (var item in Model.Teamlist)
    {
        <option>@item.Title</option>
    }
</select>