@model Predictions.ViewModels.EditTourViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addMatchForm", @class = "form-inline" }))
{
    <div class="control-group">
        @Html.HiddenFor(model => model.Tour.TourId, Model.Tour.TourId)
        @Html.TextBoxFor(model => model.InputDate, new { @class = "form-control datepicker", @type = "date", @data_width = "auto" })
        @Html.DropDownListFor(model => model.SelectedHomeTeamId, Model.Teamlist, new { @class = "selectpicker", @data_width = "auto", @title = "Дома" })
        @Html.DropDownListFor(model => model.SelectedAwayTeamId, Model.Teamlist, new { @class = "selectpicker", @data_width = "auto", @title = "В гостях" })
        <input type="submit" class="btn btn-info" value="Добавить матч">
    </div>
}
