body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




/********/
/*My CSS*/
/********/

/*for space between the rows*/
/******************************************************************************/
.top-buffer { margin-top:20px; }

/*external navbar*/
/******************************************************************************/
.navbar-custom {
  background-color: #161514;
  border-color: #161514;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #a3c6d6;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #a3c6d6;
}
.navbar-custom .navbar-nav > li > .dropdown-menu {
  background-color: #161514;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #a3c6d6;
  background-color: #161514;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #161514;
}
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #a3c6d6;
  background-color: #161514;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #a3c6d6;
  background-color: #161514;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #a3c6d6;
  background-color: #161514;
}
.navbar-custom .navbar-toggle {
  border-color: #161514;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #161514;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #ffffff;
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #a3c6d6;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a3c6d6;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a3c6d6;
    background-color: #161514;
  }
}

